<%- include('partials/header'); %> 

<%- include('partials/navbar', {link:'events'}); %>

<div class="container">
    <div>
        <h1 class="d-flex justify-content-center"><%= event.title %></h1>

        <p class="d-flex justify-content-center">
            Here, a list of quests will be shown
        </p>

        <div class="row">
            <% quests.forEach(quest => { %>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <% if (quest.resolved) { %>
                        <a href="/quest/<%= quest._id %>/complete" class="text-decoration-none" style="color: black">
                    <% } else { %>
                        <a href="/quest/<%= quest._id %>" class="text-decoration-none" style="color: black">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= quest.title %></h5>
                            <div class="card-text">
                                <p>Organiser: <%= quest.description %></p>
                                <% if (!quest.resolved) { %>
                                    <a href="/quest/<%= quest._id %>/complete" class="card-link link-success">Complete</a>
                                <% } %>
                                <a href="/quest/<%= quest._id %>/delete" class="card-link link-danger">Delete</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <% }) %>
        </div>

        <br>

        <div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createQuest">Create quest</button>
        </div>

        <div class="modal" id="createQuest" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create quest</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%- include('forms/create-quest', {event}); %>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); %>
