<%- include('partials/header'); %> 
<%- include('partials/navbar', {link:'events'}); %>

<div class="container">
    <div>
        <% if (quest.resolved) { %>
            <h1 class="d-flex justify-content-center">Quest <%= quest.title %>  completed</h1>

            <p>Transaction external url: <a href="<%= quest.external_contract_url %>" target="_blank">Here</a></p>
            <img src="<%= quest.nft_cid %>" alt="NTF image">
        <% } else { %>
            <h1 class="d-flex justify-content-center"><%= quest.title %></h1>

            <p class="d-flex justify-content-center"><%= quest.description %></p>
        <% } %>
        
    </div>
</div>

<%- include('partials/footer'); %>
